<!DOCTYPE html>
<html lang="es">
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Enlaces a CSS externos o internos -->
  <!-- Otros elementos del head -->
  <footer>
    <div class="footer-section">
      <h3>Sección 1</h3>
      <p>Contenido de la Sección 1.</p>
    </div>
    <div class="footer-section">
      <h3>Sección 2</h3>
      <p>Contenido de la Sección 2.</p>
    </div>
    <div class="footer-section">
      <h3>Sección 3</h3>
      <p>Contenido de la Sección 3.</p>
    </div>
  </footer>
</html>
