<!DOCTYPE html>
<html lang="es">
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Enlaces a CSS externos o internos -->
  <!-- Otros elementos del head -->
  <footer>
    <div class="footer-section">
      <h3>Integrantes</h3>
      <p style="text-align: left">
        Jonathan Albornoz<br />
        Byron Aros<br />
        Geoffrey Ponce
      </p>
    </div>
    <div class="footer-section">
      <h3>Asignatura</h3>
      <p>Arquitectura de Sistemas Complejos</p>
    </div>
    <div class="footer-section">
      <h3>Profesor</h3>
      <p>Dr. Carlos Maureira</p>
    </div>
  </footer>
</html>
