{% extends './generic/base.html' %} {% block content %}

<body>
  Estamos probando codigos de signup
</body>

{% endblock %}

<!--
<!DOCTYPE html>
<html>
  <body>
    Estamos probando codigos de login Bienvenidos al sistema de cálculo de
    Liquidación de Sueldo para Chile
    <section>
      {% for elemento in gente %}
      <article>{{elemento.nombrePersona}}</article>

      {% endfor %}
    </section>
    <section>
      <article>{{data}}</article>
      <article>{{valor}}</article>
    </section>
  </body>
</html>
-->
