{% extends './generic/base.html' %} {% block content %}

<body>
  <div class="grid-container">
    <div class="box">
      <img
        class="menu-icon"
        src="../static/webelements/certificado.svg"
        alt="Descripción de la imagen 1"
      />
      <a href="tu_enlace1.html" class="sin-subrayado">Certificados</a>
      <p>Obten aquí todos tus certificados laborales</p>
    </div>
    <div class="box">
      <img
        class="menu-icon"
        src="../static/webelements/reports.svg"
        alt="Descripción de la imagen 2"
      />
      <a href="liquidacion" class="sin-subrayado">Liquidación de Sueldo</a>
      <p>Ingresa tus datos y simula tu liquidación de sueldo.</p>
    </div>
    <div class="box">
      <img
        class="menu-icon"
        src="../static/webelements/reports.svg"
        alt="Descripción de la imagen 3"
      />
      <a href="tu_enlace3.html" class="sin-subrayado">Registro de Asistencia</a>
      <p>
        Puedes registrar tu ingreso u obtener un reporte mensual de asistencia
      </p>
    </div>
    <div class="box">
      <img
        class="menu-icon"
        src="../static/webelements/setting.svg"
        alt="Descripción de la imagen 4"
      />
      <a href="tu_enlace4.html" class="sin-subrayado">Mis Datos</a>
      <p>Revisa y modifica tus datos</p>
    </div>
  </div>
</body>

{% endblock %}
